<ul class="nav nav-pills" style="background-color: rgba(30, 230, 236, 0.89)">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">CONTACTS LIST APP</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">FILTER BY FIRST NAME</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" (click)="ascending()">VIEW IN ASCENDING</a></li>
      <li><a class="dropdown-item" (click)="descending()">VIEW IN DESCENDING</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">FILTER BY LAST NAME</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" (click)="lname_ascending()">VIEW IN ASCENDING</a></li>
      <li><a class="dropdown-item" (click)="lname_descending()">VIEW IN DESCENDING</a></li>

    </ul>
  </li>
    <div class="search">
       <input type="text" [(ngModel)]="value" id="search" class="searchTerm" placeholder="What are you looking for?">
       <button type="" class="searchButton" >
         <i class="fa fa-search"></i>
      </button>
 </div>

</ul>
<br>
<br>
<form >
<div class="row">
    <div class="col mt-2 ms-3 me-3 mb-2"  *ngFor="let user of list | filter:value">
        <div class="card lg={4}" >

            <img src='{{user["avatar"]}}' class="card-img-top" alt="...">
            <div class="card-body"   >
              <h1 class="card-title">{{user["first_name"]}}</h1>
              <h4 class="card-text">{{user["last_name"]}}</h4>
              <!-- id={{user["id"]}} -->
              <button type="button" (click)="getUserInfo(user)" data-bs-toggle="modal" data-bs-target="#userModal" class="btn btn-outline-primary">More info</button>
            </div>
          </div>
    </div>
</div>
</form>

<form >
  <div class="modal fade"   id="userModal"  tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">{{f_name}} <h5>{{l_name}}</h5>   <img style="border-radius: 80px; margin-left: 120px;" src='{{img}}' alt=""></h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container">
        <h5>FIRST NAME :   {{f_name}}</h5>
        <h5>LAST NAME  :   {{l_name}}</h5>
        <h5>EMAIL      :   <a href='{{email}}'>{{email}}</a>  </h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</form>


